@media (max-width: 1000px) {
    .container {
        max-width: 960px;
        width: 100%;
    }

    main {
        .section {
            .bg-section {
                background-image: url('../img/tv-cabinet-modern-living-room-with-armchair-plant-dark-marble-wall-3d-rendering%201.png');

                .main-wrapper {
                    background-image: url('../img/bg-image1000-2.png');
                }
            }
        }

        .main-down {
            width: 920px;
        }

        .assignment {
            .kitchen, .badroom {
                display: none;
            }
        }
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 600px;
        width: 100%;
    }

    .header_container {
        .btn-click {
            display: block;
        }

        #ul {
            display: none;
        }

    }

    main {
        .section {
            .bg-section {
                background-image: url('../img/main-bg-640.png');

                .main-wrapper {
                    background-image: url('../img/main-bg-640-2.png');
                }
            }
        }

        .main-down {
            width: 600px;
        }

    }
}

@media (max-width: 320px) {
    .container {
        max-width: 300px;
        width: 100%;
    }

    .header_container {
        .contact {
            display: none;
        }
    }

    main {
        .section {
            .bg-section {
                height: 495px;
                background-image: url('../img/main-bg-320.png');

                .main-wrapper {
                    height: 495px;
                    background-image: url('../img/main-bg-320-2.png');
                }
            }
        }

        .main-wrapper {
            h1 {
                font-size: 28px;
                line-height: 33.6px;
            }

            p {
                width: 300px;
                font-size: 16px;
                line-height: 27px;
                margin-top: 28px;
                margin-bottom: 30px;
            }

            .main-down {
                margin-top: 62px;
            }
        }
    }
}

@media (max-width: 640px) {
    .furtinure_cards {
        display: grid;
        grid-template-columns: auto auto auto;

        .furniture_card {
            p {
                max-width: 195px;
                font-size: 18px;
            }
        }
    }

    .types_cards {
        .types_card {
            .right-type {
                border-left: none;
            }
        }
    }
}

@media (max-width: 380px) {
    .container {
        max-width: 300px;
    }

    .header_container {
        .contact, .auth {
            display: none;
        }
    }

    .card-wrapper {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .furtinure_cards {
        display: flex;
        flex-direction: column;
        width: 45%;
        gap: 20px;

        .furniture_card {
            p {
                max-width: 137px;
                font-size: 18px;
            }

            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media (max-width: 760px) {
    main {
        .assignment {
            .assignment_down {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 950px) {
    main {
        .types {
            .types_cards {
                .smile {
                    display: none;
                }
            }
        }
    }
}